@model Olimp.Data.Participant

@{
    ViewData["Title"] = "Редактирование";
    var genderChoose = new List<SelectListItem>
    {
        new SelectListItem("Мужской", "true"),
        new SelectListItem("Женский", "false")
    };
}

<h1>Редактирование</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurName" class="control-label"></label>
                <input asp-for="SurName" class="form-control" />
                <span asp-validation-for="SurName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-select" asp-items="genderChoose"></select>
            </div>
            <div class="form-group">
                <label asp-for="EduOrg" class="control-label"></label>
                <input asp-for="EduOrg" class="form-control" />
                <span asp-validation-for="EduOrg" class="text-danger"></span>
            </div>
            @* <div class="form-group form-check"> *@
            @*     <label class="form-check-label"> *@
            @*         <input class="form-check-input" asp-for="Role" /> @Html.DisplayNameFor(model => model.Role) *@
            @*     </label> *@
            @* </div> *@
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

