@{
    ViewData["Title"] = "Информация";
}

<h1>Инструкции</h1>

<div class="text-center">
    <h3>Последовательность заполнения информации на сайте:</h3>
</div>
<div align=”left”>
    
    <p>
        <h6>Администратор:</h6>
        1. На странице "Олимпиады" нажать кнопку "Добавить новую олимпиаду", после чего заполнить следующие поля:<br>
        - Название<br>
        - Год<br>
        - Описание(1-2 предложения)<br>
        - Карта(ссылка на изображение)<br>
    </p>
    <p>
        2. На странице "Этапы" нажать кнопку "Добавить", после чего заполнить следующие поля:<br>
        - Название(теория/название упражнения на практике)<br>
        - Описание<br>
        - Тип(теория/практика)<br>
        - Координата x на карте<br>
        - Координата y на карте<br>
        - Олимпиада(выбрать из списка нужную)<br>
    </p>
    <p>
        3. На странице "ПОО" нажать кнопку "Добавить", после чего заполнить следующие поля:<br>
        - Название(полное название профессиональной образовательной организации)<br>
        - Аббревиатура<br>
        - Логотип(ссылка на изображение)<br>
    </p>
    <p>
        <h6>Регистратор: (Важно! Заполнение данных регистратором проводится только после того, как администратор заполнит все данные на своих страницах)</h6>
        1. На странице "Участники" нажать кнопку "Зарегистрировать", после чего заполнить следующие поля:<br>
        - Номер(при регистрации тренеров оставить поле пустым)<br>
        - Фамилия<br>
        - Имя<br>
        - Отчество<br>
        - Пол<br>
        - ПОО(выбрать из списка)<br>
    </p>
    <p>
        2. На странице "Результаты" нажать кнопку "Добавить", после чего заполнить следующие поля:<br>
        - Участник(выбрать из списка)<br>
        Остальные поля будут зависеть от того, какие этапы добавит администратор
    </p>
    
    <h6>Важно! При заполнении информации, убедитесь что нажали кнопку сохранения/добавления, прежде чем перейти на другую страницу. При необходимости редактирования/удаления записи нажмите на соответствующую кнопку рядом с нужной записью. </h6>
    
</div>

<div align="right">
    <h5>Приятного пользования сайтом!</h5>
</div>