@model Olimp.Data.Result

@{
    ViewData["Title"] = "Добавление";
}

<h1>Добавление</h1>

<h4>Результаты</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParticipantId" class="control-label"></label>
                <select asp-for="ParticipantId" class ="form-control" asp-items="ViewBag.ParticipantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StepId" class="control-label"></label>
                <select asp-for="StepId" class ="form-control" asp-items="ViewBag.StepId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

