@model Olimp.Data.Result

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ParticipantId" class="control-label"></label>
                <select asp-for="ParticipantId" class="form-control" asp-items="ViewBag.ParticipantId"></select>
                <span asp-validation-for="ParticipantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StepId" class="control-label"></label>
                <select asp-for="StepId" class="form-control" asp-items="ViewBag.StepId"></select>
                <span asp-validation-for="StepId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

