@using Olimp.Pages
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Guid

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование</h1>

<hr />

<component>@(await Html.RenderComponentAsync<EditResults>(RenderMode.Server, new { ParticipantId = Model}))</component>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

